*{
margin:0px;
padding:0px;
}


.image{/*fond*/
overflow-y: hidden;
background-position: right;
background-size:cover;
background-image: url('figures/bibliographie.jpg');
background-repeat: repeat-y;
height: auto;


}   
.reference/*cadre ecriture*/
{   
background-color: white;
font-size: 15px;
margin-right: 200px;
margin-left: 150px;
color: #11034B;
padding-top: 10px;

}
